  .card__discription-container {
    margin: 12px 5px 0 0;
    grid-area: discription;
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  @media (max-width: 768px) {
    .card__discription-container {
        gap: 11px;
        margin: 17px 13px 0;
      }
  }