.card {
  display: grid;
  grid-template-columns: min(473px, 50%) auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'img heading'
    'img time'
    'img discription'
    'img price';
  column-gap: 22px;
  align-items: start;
  box-sizing: border-box;
  border: 0.5px solid #8E8E8E;
  border-radius: 15px;
  background-color: #E5E5E5;
}

@media (max-width: 768px) {
  .card {
    max-width: 500px;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      'img '
      'time'
      'heading'
      'discription'
      'price';
    column-gap: 22px;
    box-sizing: border-box;
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
  }
}